- name: create_namenode_data_dir
  become: yes
  file: path={{ item }} state=directory owner=hdfs group=hadoop mode=700
  with_items: dfs_namenode_name_dirs

- name: fix_init_scripts
  become: yes
  lineinfile: dest=/usr/hdp/{{ hdp_version }}/hadoop-hdfs/etc/rc.d/init.d/{{ item }} insertafter='^\.\s+\/lib\/lsb\/init-functions' line='. /etc/default/{{ item }}'
  with_items:
  - hadoop-hdfs-namenode
  - hadoop-hdfs-zkfc

- name: create_symbolic_link_to/etc/init.d
  become: yes
  file: path=/etc/init.d/{{ item }} state=link src=/usr/hdp/{{ hdp_version }}/hadoop-hdfs/etc/rc.d/init.d/{{ item }}
  with_items:
  - hadoop-hdfs-namenode
  - hadoop-hdfs-zkfc

- name: create_symbolic_link_to/usr/hdp/current/hadoop
  become: yes
  file: path=/usr/hdp/current/hadoop state=link src=/etc/hadoop

- name: create_symbolic_link_to/usr/hdp/current/hadoop-hdfs-zkfc
  become: yes
  file: path=/usr/hdp/current/hadoop-hdfs-zkfc state=link src=/usr/hdp/{{ hdp_version }}/hadoop-hdfs

- name: deploy kick script for balancer.
  become: yes
  template: src={{ item }}.j2 dest=/usr/local/bin/{{ item }} mode=755
  with_items:
  - hdfs-balancer.sh

- name: create_hdfs_log_dir
  become: yes
  file: path={{ hdfs_log_dir }} state=directory mode=755 owner=hdfs group=hadoop 

- name: create_hdfs_pid_dir
  become: yes
  file: path={{ hdfs_pid_dir }} state=directory mode=755 owner=hdfs group=hdfs

- name: create_jaas_conf
  become: yes
  template: src=jaas-hdfs.conf.j2 dest=/etc/hadoop/conf/jaas-hdfs.conf owner=hdfs group=hdfs
  when: kerberos_realm is defined

- name: copy_defaults_file
  become: yes
  template: src=default_{{ item }}.j2 dest=/etc/default/{{ item }} mode=755 owner=hdfs group=hdfs
  with_items:
  - hadoop-hdfs-zkfc
  - hadoop-hdfs-namenode
