[Unit]
Description=Apache Hadoop HDFS NameNode Service

[Service]
Type=simple
EnvironmentFile=/etc/default/hadoop-hdfs-namenode
User=hdfs
ExecStart={{ hadoop_dir }}/current/bin/hdfs --config /etc/hadoop/conf namenode

[Install]
WantedBy=multi-user.target