yarn.nodemanager.local-dirs=/hadoop/tmp/hadoop-yarn/nm-local-dir
yarn.nodemanager.linux-container-executor.group=yarn
yarn.nodemanager.log-dirs=/var/log/hadoop-yarn/userlogs
banned.users=hdfs,yarn,mapred,bin
min.user.id=1000
