<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>

<property>
  <name>ssl.client.truststore.location</name>
  <value>{{ https_truststore_path }}</value>
</property>

<property>
  <name>ssl.client.truststore.password</name>
  <value>{{ https_truststore_pass }}</value>
</property>

</configuration>