coordinator=true
node-scheduler.include-coordinator=false
http-server.http.port={{ presto_http_port }}
task.max-memory={{ presto_task_max_memory }}
discovery-server.enabled=true
discovery.uri=http://{{ presto_discovery_host }}:{{ presto_http_port }}
