[HDP]
name=Hortonworks Data Platform Version - HDP
baseurl={{ base_hdp_hdp_baseurl }}
gpgcheck={{ base_hdp_hdp_gpgcheck }}
gpgkey={{ base_hdp_hdp_gpgkeyurl }}
enabled=1
priority=1

[HDP-UTILS]
name=Hortonworks Data Platform Utils Version - HDP-UTILS
baseurl={{ base_hdp_util_baseurl }}
gpgcheck={{ base_hdp_util_gpgcheck }}
gpgkey={{ base_hdp_util_gpgkeyurl }}
enabled=1
priority=1
