connector.name=hive-hadoop2
hive.metastore.uri=thrift://{{ presto_hive_metastore_host }}:{{ presto_hive_metastore_port }}
hive.config.resources={{ hadoop_conf_dir }}/core-site.xml,{{ hadoop_conf_dir }}/hdfs-site.xml

