[Unit]
Description=Apache Hadoop JournalNode Service

[Service]
Type=simple
EnvironmentFile=/etc/default/hadoop-hdfs-journalnode
User=hdfs
ExecStart={{ hadoop_dir }}/current/bin/hdfs --config /etc/hadoop/conf journalnode

[Install]
WantedBy=multi-user.target