- name: fix_init_scripts
  become: yes
  lineinfile: dest=/usr/hdp/{{ hdp_version }}/hadoop-yarn/etc/rc.d/init.d/{{ item }} insertafter='^\.\s+\/lib\/lsb\/init-functions' line='. /etc/default/{{ item }}'
  with_items:
  - hadoop-yarn-timelineserver
  
- name: create_symbolic_link_to/etc/init.d
  become: yes
  file: path=/etc/init.d/{{ item }} state=link src=/usr/hdp/{{ hdp_version }}/hadoop-yarn/etc/rc.d/init.d/{{ item }}
  with_items:
  - hadoop-yarn-timelineserver

- name: create_symbolic_link_to/usr/hdp/current/hadoop-yarn
  become: yes
  file: path=/usr/hdp/current/hadoop-yarn state=link src=/usr/hdp/{{ hdp_version }}/hadoop-yarn

- name: create_yarn_pid_dir
  become: yes
  file: path={{ yarn_pid_dir }} state=directory mode=755 owner=yarn group=yarn
  
- name: create_yarn_log_dir
  become: yes
  file: path={{ yarn_log_dir }} state=directory mode=755 owner=yarn group=hadoop
  
- name: create_timeline_dir
  become: yes
  file: path={{ hadoop_tmp_dir[0:hadoop_tmp_dir.rfind('/')] }}/hadoop-yarn/yarn/timeline state=directory mode=755 owner=yarn group=yarn

- name: copy_default_file
  become: yes
  template: src=default_{{ item }}.j2 dest=/etc/default/{{ item }} mode=755 owner=root group=root 
  with_items:
  - hadoop-yarn-timelineserver
