- name: create_hbase_conf_dir
  become: yes
  file: path=/etc/hbase/conf state=directory owner=root group=root mode=755  

- include: principal.yml
  become: yes
  vars: { kerberos_princ_username: hbase, kerberos_princ_keytab_path: /etc/hbase/conf/hbase.keytab, kerberos_princ_keytab_owner: hbase }
  when: kerberos_realm is defined

- name: copy_jaas_conf
  become: yes
  template: src=zk-jaas.conf.j2 dest=/etc/hbase/conf/zk-jaas.conf
  when: kerberos_realm is defined

- name: copy_hbase_conf_files
  become: yes
  template: src={{ item }}.j2 dest=/etc/hbase/conf/{{ item }} owner=hbase group=hadoop mode=755
  with_items:
  - hbase-site.xml
  - hbase-env.sh
  - hbase-policy.xml
  - regionservers
  - log4j.properties
  - hadoop-metrics2-hbase.properties
  
- name: copy_hbase_default_file
  become: yes
  template: src={{ item }}.j2 dest=/etc/default/{{ item }} owner=hbase group=hadoop mode=755
  with_items:
  - hbase-regionserver

- name: fix_init_scripts
  become: yes
  lineinfile: dest=/usr/hdp/{{ hdp_version }}/hbase/etc/rc.d/init.d/{{ item }} insertafter='^\#\#\#\s*END\s+INIT\s+INFO' line='. /etc/default/{{ item }}'
  with_items:
  - hbase-regionserver

- name: remove_template_variable_in_init_scripts
  become: yes
  lineinfile: dest=/usr/hdp/{{ hdp_version }}/hbase/etc/rc.d/init.d/hbase-regionserver regexp='^export\s+HBASE_HOME=' state=absent
  
- name: create_symbolic_link_to/etc/init.d
  become: yes
  file: path=/etc/init.d/{{ item }} state=link src=/usr/hdp/{{ hdp_version }}/hbase/etc/rc.d/init.d/{{ item }}
  with_items:
  - hbase-regionserver
  
- name: create_hbase_log_dir
  become: yes
  file: path={{ hbase_log_dir }} state=directory mode=755 owner=hbase group=hadoop 

- name: deploy_graceful_stop_script_from_upstream
  become: yes
  copy: src={{ item }} dest=/usr/local/bin/hbase-{{ item }} owner=hbase group=hadoop mode=755
  with_items:
  - graceful_stop.sh

- name: create_symbolic_link_for_graceful_stop_script
  become: yes
  file: path=/usr/hdp/current/hbase-client/bin/{{ item }} state=link src=/usr/local/bin/hbase-{{ item }}
  with_items:
  - graceful_stop.sh
